@font-face{
    font-family: 'my-font';
    src : url('../fonts/Shabnam.woff') format('woff');
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
    font-family: 'my-font';
    font-size: 13px;
    direction: rtl;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
    transition: all .2s ease-in;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.left-side{
    top: 0;
    left: 0;
    width: 80%;
    margin: 0 0 0 15px;
    display: flex;
    flex-direction: column;
}
.box-top{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.box-top-web{
    width: 300px;
    margin: 15px 15px 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border-radius: 4px;
    font-size: 9px;
    padding: 0 20px 0 0;
    color: #aaa;
    transition: 0.3s;
}
.box-top-web p{
    padding: 8px 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}
.box-top-web h4{
    font-size: 14px;
    color: #222;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}
.box-top-web span{
    font-size: 12px;
    color: #6355e8;
    margin-left: 5px;
    font-weight: 600;
}
.box-top-web:nth-child(3) span{
    color: #10cd8d;
}
.box-top-web:nth-child(4) span{
    color: #ea605e;
}
.box-top-web .leftbox{
    height: 100%;
    width: 50px;
    border-radius: 4px 0 0 4px;
    background-image: linear-gradient(to bottom , #8160e5, #5e72e3);
    
}
.box-top-web:nth-child(2) .leftbox{
    background-image: linear-gradient(to bottom , #fdc53a, #f19c1b);
}
.box-top-web:nth-child(3) .leftbox{
    background-image: linear-gradient(to bottom , #f3477f, #ec454f);
}
.box-top-web:nth-child(4) .leftbox{
    background-image: linear-gradient(to bottom , #21c6f6, #607dff);
}
.box-top-web:hover{
    background-image: linear-gradient(to bottom , #8160e5, #5e72e3);
    
}
.box-top-web .leftbox img{
    width: 35px;
    margin: 24px 8px;
}
.box-top-web:nth-child(4) .leftbox img{
    width: 25px;
    margin-right: 13px;
}
.center-web{
    display: flex;
    justify-content: flex-start;
}
.box-edit{
    width: 58%;
    height: 18rem;
    border-radius: 4px;
    margin-right: 15px;
    background-image: linear-gradient(to right , #8d5fe6, #6564e4);
    display: flex;
    justify-content: flex-end;
    padding: 15px 25px;
    color: white;
    font-size: 1rem;
}
.box-summary{
    width: 40%;
    border-radius: 4px;
    margin-right: 15px;
    background-color: white;
    padding: 20px 35px;
    color: #222;
    font-size: 1rem;
}
.top-summary{
    display: flex;
    justify-content: space-between;
}
.box-summary a{
    height: 25px;
    font-size: .8rem;
    color: #222;
    border-bottom: 1.5px solid rebeccapurple;
}
.box-summary select{
    height: 25px;
    padding: 5px;
    color: #888;
    font-weight: 700;
    font-size: 9px;
    font-family: 'my-font';
    outline: none;
    border-radius: 4px;
    box-shadow: -1px 1px 0px 0px #eee;
    border-color: #ddd;
}
.bottom-web{
    display: flex;
    justify-content: flex-start;
}
.box-tickets{
    width: 58%;
    height: 12.5rem;
    border-radius: 4px;
    margin: 15px;
    margin-left: 0 !important;
    background-color: white;
    padding: 15px 25px;
    color: #222;
    font-size: .7rem;
}
.box-tickets ul{
    display: flex;
    justify-content: space-between;
}
.property-tickets{
    display: flex;
    justify-content: flex-start;
}
.box-tickets a{
    margin-left: 15px;
    padding-bottom: 10px;
    color: #aaa !important;
}
.box-tickets a button{
    color: #aaa !important;
    background-color: #eee;
    border-radius: 8px;
    padding: 1px;
    font-size: 10px;
    border: transparent;
}
.box-tickets select{
    height: 25px;
    padding: 5px;
    color: #888;
    font-weight: 700;
    font-size: 9px;
    font-family: 'my-font';
    outline: none;
    border-radius: 4px;
    box-shadow: -1px 1px 0px 0px #eee;
    border-color: #ddd;
}
.box-tickets .active{
    color: #222 !important;
    border-bottom: 1.5px solid rebeccapurple;
}
.box-tickets .active button{
    color: #222 !important;
}
.box-mail{
    width: 40%;
    border-radius: 4px;
    margin: 15px;
    margin-left: 0;
    background-color: white;
    padding: 20px 35px;
    color: #222;
    font-size: 1rem;
}
.top-mail{
    display: flex;
    justify-content: space-between;
}
.box-mail a{
    height: 25px;
    font-size: .8rem;
    color: #222;
    border-bottom: 1.5px solid rebeccapurple;
}
.box-mail select{
    height: 25px;
    padding: 5px;
    color: #888;
    font-weight: 700;
    font-size: 9px;
    font-family: 'my-font';
    outline: none;
    border-radius: 4px;
    box-shadow: -1px 1px 0px 0px #eee;
    border-color: #ddd;
}
.right-side{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 18%;
    background-color: white;

}
.time{
    margin: 30px 0 0;
    direction: ltr;
    color: #6564e4;
    font-size: 1.75rem;
}
.time span{
    font-weight: 700;
}
.date{
    font-size: .7rem;
    color: #6564e4;
}
.user{
    display: flex;
    justify-content: flex-start;
    margin: 30px;
}
.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
}
.user-about{
    font-size: .7rem;
}
.user-about h5{
    font-size: .7rem !important;
    font-weight: bold;
    margin: 0;
}
.user-about a{
    margin-top: 1rem;
    color: #aaa;
}
.user-about i{
    margin-right: 15px;
    margin-top: 10px;
}
.information{
    font-size: 11px;
    margin-top: 30px;
    width: 60%;
}
.mail , .ticket , .dashboard , .Encyclopedia , .news , .manager{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.information a , .information i{
    color: #aaa;
}
.in-Encyclopedia{
    display: flex;
    flex-direction: column;
    padding: 0 28px;
    margin-bottom: 5px;
}
.in-Encyclopedia a{
    margin-bottom: 10px;
    font-size: 10px;
}
.information button{
    color: #fff !important;
    background-color: red;
    width: 16px;
    border-radius: 6px;
    padding: 1px;
    font-size: 10px;
    border: transparent;
}
.information i:first-child{
    margin-top: 4px;
    font-size: 14px;
    margin-left:10px;
}
.information i:nth-child(2){
    margin-left:3px;
}
.information .active{
    color: #6564e4;
}
.information .active i{
    color: #6564e4;
}
