@font-face{
    font-family: 'my-font';
    src : url('fonts/Shabnam.woff') format('woff');
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
    font-family: 'my-font';
    font-size: 13px;
    direction: rtl;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    transition: all .2s ease-in;
}
.main{
    width: 100%;
    display: flex;
}
.right-side{
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    width: 18%;
    background-color: white;
}
.container{
    width: 80%;
    margin: 0 0 0 15px;
    display: flex;
    flex-direction: column;
}
.box-top{
    display: flex;
    justify-content: space-between;
}
.box-top-web{
    width: 300px;
    margin: 15px 15px 15px 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 4px;
    font-size: 9px;
    padding: 0 20px 0 0;
    color: #aaa;
}
.box-top-web p{
    padding: 8px 0;
}
.box-top-web h4{
    font-size: 12px;
    color: #222;
}
.box-top-web .leftbox{
    height: 100%;
    width: 50px;
    border-radius: 4px 0 0 4px;
    background-color: rebeccapurple;
}
.box-top-web:nth-child(2) .leftbox{
    background-color: red;
}
.box-top-web:nth-child(3) .leftbox{
    background-color: wheat;
}
.box-top-web:nth-child(4) .leftbox{
    background-color: saddlebrown;
}
.box-top-web .leftbox img{
    width: 35px;
    margin: 24px 8px;
}
.box-top-web:nth-child(4) .leftbox img{
    width: 30px;
    margin-right: 11px;
}
.center-web{
    display: flex;
    justify-content: flex-start;
}
.box-edit{
    width: 50%;
    height: 250px;
    border-radius: 4px;
    margin-right: 15px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: flex-end;
    padding: 15px 25px;
    color: white;
    font-size: 1rem;
}
.box-summary{
    width: 40%;
    border-radius: 4px;
    margin-right: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    color: rebeccapurple;
    font-size: 1rem;
}
.box-summary select{
    height: 25px;
    padding: 5px;
    color: #555;
    font-weight: 700;
    font-size: 10px;
    font-family: 'my-font';
    outline: none;
    border-radius: 4px;
    box-shadow: -1px 1px 0px 0px #eee;
    border-color: #ddd;
}
